fastapi==0.115.0
uvicorn[standard]==0.30.6
pandas==2.2.2
numpy==1.26.4
prophet==1.1.6
cmdstanpy>=1.2.0,<2.0
xgboost==2.1.1
scikit-learn==1.5.1
shap==0.46.0
faker==30.0.0
pydantic==2.9.2
python-multipart==0.0.12
